  <p>
    <label for="settings_remind_after_days"><%= t '.remind_after_days' %></label>
    <%= text_field_tag 'settings[remind_after_days]', @settings['remind_after_days'], :size => 5 %>
  </p>
<p>
    <label for="settings_close_issues_after_days"><%= t '.close_issues_after_days' %></label>
    <%= text_field_tag 'settings[close_issues_after_days]', @settings['close_issues_after_days'], :size => 5 %>
  </p>

  <p>
    <label for="settings_resolved_state_id"><%= t '.resolved_state_id' %></label>
    <%= select_tag 'settings[resolved_state_id]', options_from_collection_for_select(IssueStatus.all, :id, :name, @settings['resolved_state_id']) %>
  </p>
  <p>
    <label for="settings_closed_state_id"><%= t '.closed_state_id' %></label>
    <%= select_tag 'settings[closed_state_id]', options_from_collection_for_select(IssueStatus.all, :id, :name, @settings['closed_state_id']) %>
  </p>
