<p><%= l :mail_body_due_issues, :date => format_date(7.days.from_now) %>:</p>

<% @issues.each_pair do |project, issues| -%>
<h3><%= project.name %></h3>
<ul><% issues.each do |issue| -%>
<li>
  <a href="<%= issue_url issue %>"><%= "##{issue.id}: #{issue.subject}" %></a>
    -<%= "#{l :mail_body_issue_reminder_due_date, :date => format_date(issue.due_date)}" %></li>
<% end -%></ul>
<% end %>
